<% provide(:title, "Collections") %>
<div class="mx-auto">
  <% if @books.any? %>
  <section id="top-matter">
    <h1>Browse our collections</h1>
    <p>The Churchill Library houses collections from all our family members. Explore our collections using the provided search and filters.</p>
  </section>
  <section id="search-and-filters">
  <%= form_with(url: collections_path, method: :get, class: "relative") do |f| %>
    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="inline absolute mt-4 ml-3">
      <path d="M13 13L10.1 10.1M11.6667 6.33333C11.6667 9.27885 9.27885 11.6667 6.33333 11.6667C3.38781 11.6667 1 9.27885 1 6.33333C1 3.38781 3.38781 1 6.33333 1C9.27885 1 11.6667 3.38781 11.6667 6.33333Z" stroke="#1E1E1E" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <%= f.search_field :title, placeholder: "Search by title...", class: "w-full pl-8 rounded-full" %>
  <% end %>
  <%= form_with(url: collections_path, method: :get, class: "flex md:flex-row flex-col justify-between") do |f| %>
    <div class="w-full md:[&_select]:w-3/4 [&_select]:w-full [&_select]:rounded-lg">
      <%= f.label :owner, class: "block text-sm font-medium leading-6 text-gray-900" %>
      <%= f.collection_select :owner, Collection.unique_owners, :to_s, :titleize, prompt: "All owners", class: "w-full rounded-lg" %>
    </div>
    <div class="w-full md:[&_select]:w-3/4 [&_select]:w-full">
      <%= f.label :author, class: "block text-sm font-medium leading-6 text-gray-900" %>
      <%= f.collection_select :author, Collection.unique_authors, :to_s, :titleize, prompt: "All authors", class: "w-full rounded-lg" %>
    </div>
    <div class="w-full md:[&_select]:w-3/4 [&_select]:w-full">
      <%= f.label :genre, class: "block text-sm font-medium leading-6 text-gray-900" %>
      <%= f.collection_select :genre, Genre.unique_genres, :to_s, :titleize, prompt: "All genres", class: "w-full rounded-lg" %>
    </div>
  <% end %>
  </section>
  <section id="collections-table">
    <table>
      <tr>
        <th>Owner</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genres</th>
      </tr>
      <%= render @books %>
    </table>
    <%= will_paginate @books, size: 10 %>
  </section>
  <% elsif %>
  <p>Coming soon...</p>
  <% end %>
</div>
