<% provide(:title, "Admin") %>
<section class="mx-auto space-y-2">
  <h1 class="text-lg font-semibold leading-7 text-gray-900">Welcome back to the Library!</h1>
  <%= form_with(url: admin_path, scope: :session, local: true, class: "space-y-3") do |f| %>
    <%= f.label :username, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <%= f.text_field :username, class: "border border-solid border-slate-300 rounded-md" %>

    <%= f.label :password, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <%= f.password_field :password, class: "border border-solid border-slate-300 rounded-md" %>

    <%= f.submit "Login", class: "block mx-auto rounded-md bg-green-800 px-28 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-700 cursor-pointer" %>
  <% end %>
</section>
