<tr id="<%= book.id %>" aria-label="book row" class="text-inherit my-2">
  <td class="pb-2"><%= book.owner.name %></td>
  <td class="pb-2"><%= book.title.titleize %></td>
  <td class="pb-2"><%= book.author.name %></td>
  <td class="pb-2"><%= book.genres.map(&:name).join(", ") %></td>
</tr>
